* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.header {
    height: 60px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.head-left {
    color: #2998be;
}

.head-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.head-right li img {
    height: 18px;
    width: 18px;
}

.head-right li {
    list-style: none;
    color: #79acf3;
}

.head-right li input {
    padding: 6px;
    border: none;
}

.head-right li select {
    padding: 6px;
    border: none;
    background: none;
    color: #79acf3;
}

.head-right li select option {
    color: black;
}

.img-section {
    background-image: url("./Assetes/static.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 15px;
    /* padding-left: 50px;
    padding-top: 70px; */
}

.icon-right img {
    transform: rotate(180deg);
}

.icon {
    height: 30px;
    width: 30px;
}

.text-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 35px;
}

.text-btn button {
    padding: 8px;
}

.box img {
    height: 40px;
    width: 40px;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 18px;
}